<div id="advance-search-box" [style.height]="displayAdvancedOptions ? '60vh' : '20vh'">

  <div id="search">
    <md-input-container>
      <input type="text" placeholder="Enter city or location of interest"  
          mdInput [formControl]="searchFormControl" [mdAutocomplete]="auto">
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
      </md-option>
    </md-autocomplete>
    <button id="search-button" md-raised-button color="primary">
      Search
    </button>
  </div>

  <div id="advanced-options-toggle">
    <md-slide-toggle color="primary" (change)="toggleAdvancedOptions($event)">
      Advanced Options
    </md-slide-toggle>
  </div>

  <div id="advanced-options" *ngIf="displayAdvancedOptions">
    <div id="room-options" class="option-rows">
      <md-checkbox>Rent</md-checkbox>
      <md-checkbox>Buy</md-checkbox>
      <md-select placeholder="Bedrooms">
        <md-option *ngFor="let bedroom of bedrooms" [value]="bedroom.value">
          {{ bedroom.viewValue }}
        </md-option>
      </md-select>  
      <md-select placeholder="Bathrooms">
        <md-option *ngFor="let bathroom of bathrooms" [value]="bathroom.value">
          {{ bathroom.viewValue }}
        </md-option>
      </md-select>
    </div>

    <div id="price-options" class="option-rows">
      <span id="span-price"> Price: </span>
      <md-input-container>
        <input type="number" mdInput placeholder="From" [(ngModel)]="rangeValues[0]">
      </md-input-container>
      <md-input-container>
        <input type="number" mdInput placeholder="To" [(ngModel)]="rangeValues[1]">
      </md-input-container>
    </div>

    <div id="price-slider" class="option-rows">
      <p-slider [(ngModel)]="rangeValues" [min]="100" [max]="10000" [range]="true" animate="true"></p-slider>
    </div>

    <div id="type-amenities-options" class="option-rows">
      <md-select placeholder="Type">
        <md-option *ngFor="let type of types" [value]="type.value">
          {{ type.viewValue }}
        </md-option>
      </md-select>  
      <md-select placeholder="Amenities">
        <md-option *ngFor="let amenity of amenities" [value]="amenity.value">
          {{ amenity.viewValue }}
        </md-option>
      </md-select>
    </div>

  </div>

</div>
